* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Thai', sans-serif;
}
.result-card h1{
    font-size: 300%;
    max-block-size: 80%;
    margin: 20px auto;
    padding: 20px;
    padding-left: 30px;
    padding-bottom: 5px;
}
.student-info{
    max-width: 90%;
    width: 1200px;
    margin: 80px auto;
    padding: 40px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    border-radius: 25px;
    border: solid #b8b8b8;
}
.student-info p{
    line-height: 2em;
    font-size: 1.5em;
}
.indexlink {
    text-decoration: none;
    margin: 80px auto;
    padding: 20px;
    font-size: 200%;
}